{% extends "seller/index.html" %}
{% load static %}

{% block content %}
<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-2" id="link-effect-2">
						<ul class="nav navbar-nav">
							<li ><a href="/index/"><span data-hover="Home">主页</span></a></li>
							<li ><a href="/services/"><span data-hover="Services">服务</span></a></li>
							<li><a href="/about/"><span data-hover="About">关于我们</span></a></li>
							
							<li class="active"><a href="/mail/"><span data-hover="Mail Us">联系我们</span></a></li>
						</ul>
					</nav>
				</div>
{% endblock %}
