{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href='{% static "css/bootstrap.css" %}' rel="stylesheet" type="text/css" media="all" />
<link href='{% static "css/style.css" %}' rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src='{% static "js/jquery-2.1.4.min.js" %}'></script>
<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3l_header_left"> 
				<ul>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+ (123) 111 222 333</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
				</ul>
			</div>
			<div id="example2">	
				<div class="wrapper2">
					<div class="content-wrapper2">
						<div class="search-button2">
							<span></span>
						</div>
						<div class="search-box2">
							<form action="#" method="post">
								<input type="text" name="Search" placeholder="Search Here..." required="">
								<input type="submit" value="Send"> <img src='{% static "images/close.png" %}' alt=" " />
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="w3l_header_right">
				<ul>
					<li><a href="{%url 'Seller:login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>登录</a></li>
					<li><a href="{%url 'Seller:sign-up' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>注册</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<script type="text/javascript" src='{% static "js/demo.js" %}'></script>
		</div>
	</div>
	<div class="logo_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="/index/">天艺<span>设</span>计</a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-2" id="link-effect-2">
						<ul class="nav navbar-nav">
							<li><a href="/index/"><span data-hover="Home">主页</span></a></li>
							<li><a href="/services/"><span data-hover="Services">服务</span></a></li>
							<li><a href="/about/"><span data-hover="About">关于我们</span></a></li>
							
							<li><a href="/mail/"><span data-hover="Mail Us">给我们发邮件</span></a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
<!-- //header -->
<!-- banner1 -->
	<div class="banner1">
		<div class="container">
		</div>
	</div>

	<div class="services-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="/index/">主页</a><i>|</i></li>
				<li>登录页</li>
			</ul>
		</div>
	</div>
<!-- //banner1 -->

<!-- sign-up -->
	<div class="login">
		<div class="container">
			<h6>注 册</h6>
			<h3>欢迎来到我们设计公司网站，请在下方 <a href="/sign-up/">注册</a> 您的帐号密码；如果您已有帐号，请直接 <a href="/login/">登录</a> </h3>

			<form action="/register/" method="post">
                           {% csrf_token %}
				<input type="text" name="username" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}">
				<input type="email" name="email" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}">
				<input type="password" name="password" class="lock" value="密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}">
                                <input type="text" name="phone"  value="手机号码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '手机号码';}">
				<div class="remember">
					<label class="checkbox"><input type="checkbox" name="Checkbox" checked=""><i> </i>我接受协议</label>
				</div>
				<input type="submit" value="注 册">
			</form>
			<div class="agileits_social">
				<h5>用 <a href="#">微信</a>或者 <a href="#">微博</a>登陆</h5>
				<a href="#" class="face">微信</a>
				<a href="#" class="twitt">微博</a>
				<div class="clearfix"> </div>
			</div>
			<div class="agile_back_home">
				<a href="/index/">返回主页</a>
			</div>
		</div>
	</div>
<!-- //sign-up -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 w3agile_footer_grid" style="width:350px">
				<h3 style="width:200px">关于我们</h3>
				<p>
天艺设计家居创办于2011年，多年来致力于传播居家生活美学， 带给国人尊贵、品位、精致、舒适的的生活方式，提供全方位的一站式家居解决方案以及诚恳专业的服务。</p>
				<h2><a href="/index/">天艺<span>设</span>计</a></h2>
			</div>
			<div class="col-md-2 w3agile_footer_grid" style="width:350px">	
				<h3 style="width:200px">相关链接</h3>
				<ul>
					<li><a href="/index/">Home</a></li>
					<li><a href="/services/">服务</a></li>
					<li><a href="/about/">关于我们</a></li>
					<li><a href="/mail/">联系我们</a></li>
				</ul>
			</div>
			
			<div class="col-md-3 w3agile_footer_grid" style="width:350px">
				<h3 style="width:200px">分享</h3>
				<div class="w3agile_footer_grid_left">
					<a href=""><img src='{% static "images/9.jpg" %}' alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href=""><img src='{% static "images/10.jpg" %}' alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href=""><img src='{% static "images/11.jpg" %}' alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href=""><img src='{% static "images/8.jpg" %}' alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href=""><img src='{% static "images/7.jpg" %}' alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href=""><img src='{% static "images/6.jpg" %}' alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="agileinfo_copy_right">
		<div class="container">
			<div class="agileinfo_copy_right_left">
				<p>Copyright &copy; 2019.Company name All rights reserved <a href="http://www.cssmoban.com/" target="_blank" title="天艺设计">天艺设计</a> - Collect from <a href="http://www.cssmoban.com/" title="天艺设计" target="_blank">天艺设计</a></p>
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- for bootstrap working -->
	<script src='{% static "js/bootstrap.js"%}></script>
<!-- //for bootstrap working -->
</body>
</html>

